body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.paragraph {
  text-decoration: none;
  line-height: 1.14;
}
.menu:visited {
  color: #212121;
}
.paragraph {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}
.paragraph .black-text {
  color: #000000;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}
.menu {
  text-decoration: none;
}
.menu:hover {
  color: #2196f3;
}
.mail_number {
  color: #757575;
  text-decoration: none;
}
.mail_number:hover {
  color: #2196f3;
}
.header_1 {
  color: #ffffff;
  background-color: #2f303a;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
.active {
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
}
.hover-button:hover {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
.center {
  text-align: center;
}
.button {
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
}
.header_4 {
  font-weight: 700;
  line-height: 1.14;
}
.lorem {
  color: #757575;
  line-height: 1.71;
}
.header_2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.picture_index {
  font-size: 16px;
  line-height: 1.1875;
}
.grey-text {
  color: #757575;
  line-height: 1.1875;
}
.portfolio {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.background {
  background-color: #2f303a;
}
.white-text {
  color: #ffffff;
  line-height: 1.71;
}
.footer_mail_number {
  color: #757575;
  line-height: 1.71;
  text-decoration: none;
}
